<body class="bg-white">
  <div class="w-full pt-3 pr-5">
    <div class="flex flex-row">
      <div class="w-full md:w-3/4 lg:w-3/4 pt-10">
        <p class="header-text">Contact Messages</p>
        <p class="header-desc">You can view contact messages here</p>
      </div>

    </div>
    <div class="pb-6 flex flex-row z-0 justify-between">
      <span>
        <div class="relative text-gray-600">
          <span class="absolute inset-y-0 left-0 flex items-center pl-2">
            <button
              type="submit"
              class="p-1 focus:outline-none focus:shadow-outline"
            >
              <svg
                fill="black"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                viewBox="0 0 24 24"
                class="w-6 h-6"
              >
                <path d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
              </svg>
            </button>
          </span>
          <input
            type="search"
            name="search"
            class="py-2 search w-full md:w-[473px] pl-12 placeholder-gray-700"
            placeholder="Search by subject"
            autocomplete="off"
            (input)="handleSearch($event)"
            [(ngModel)]="search"
          />
        </div>
      </span>
    </div>

    <div class="w-full py-4 overflow-x-auto">
      <div class="w-full table-user md:overflow-hidden">
        <table class="w-full leading-normal">
          <thead class="bg-[#FCFCFD]">
            <tr>
              <th class="px-5 py-4 text-left table-header">
                 Email Address
              </th>
              <th class="px-5 py-4 text-left table-header">
                 Subject
              </th>
              <th class="px-5 py-4 text-left table-header">
                Message
              </th>
              <th class="px-5 py-4 text-left table-header">
                Date
              </th>
            </tr>
          </thead>
          <tbody>
            <tr class="relative" *ngIf="!pageLoaded">
              <div id="main-spinner" [ngClass]="pageLoaded ? 'fade' : ''">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </div>
            </tr>
            <tr *ngFor="let option of messagesArray; let i = index;">
              <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm cursor-pointer">
                <p class="table-text" (click)="goToDetails(option)">
                  {{ option.symbol }}
                </p>
              </td>
              <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                <p class="table-text">
                  {{option.creator.username}}
                </p>
              </td>
              <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                <p class="table-text"> {{option.tokenId}} </p>
              </td>
              <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                <p class="table-text"> {{option.dateIssued | date: 'dd-MM-YYYY'}} </p>
              </td>
              <td
              *ngIf="option.isApproved === false"
                class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                <p class="table-text"> Unapproved </p>
              </td>
              <td
                *ngIf="option.isApproved === true"
                class="px-5 py-5 border-b border-gray-200 bg-white text-sm"
              >
              <p class="table-text"> Aapproved </p>
              </td>
              <!-- <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                <div class="md:absolute">
                  <button
                    type="button"
                    class="block px-5 table-text"
                    (click)="toggle(i)"
                  >
                    <app-ellipsis></app-ellipsis>
                  </button>
                  <div
                    class="dropdown absolute"
                    *ngIf="showMe && ellipseIndex === i"
                  >
                    <div class="edit-div">
                      <button
                        (click)="approveToken(option.tokenId)"
                        class="button"
                      >
                        Approve
                      </button>
                    </div>
                    <div class="edit-div">
                      <button class="button">
                        Reject
                      </button>
                    </div>
                    <button
                      class="dropdown_delete button"
                    >
                      Delete
                    </button>
                  </div>
                </div>
              </td> -->
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div
      class="hidden sm:flex-1 sm:flex sm:items-center sm:justify-between pt-4 w-full"
    >
      <div class="grid grid-cols-2 gap-4">
        <div class="col-start-1 col-end-3 ..." *ngIf="paginator === 0">
          Showing  <span class="page-numb"> 1 entries of index page </span>
        </div>
        <div class="col-start-1 col-end-3 ..." *ngIf="paginator > 0">
          Showing  <span class="page-numb"> 1 entries of page {{this.paginator}} </span>
        </div>
      </div>
      <div class="flex">
        <div class="pagination-text">
          <span class="justify-end">
            <span class="extra-txt pr-2">Go to</span>
            <input
              type="text"
              placeholder="{{paginator}}"
              class="pl-2 pagination-box focus:outline-none"
              name="paginator"
              [(ngModel)]="paginator"
            />
            <span (click)="previousPage(prevPage)" class="table-user ml-4 px-2 py-1">
              <img
                class="inline-block"
                style="width: 15px"
                src="./assets/icons/ArrowLeft.svg"
              />
            </span>
            <span (click)="nextPage(paginator)" class="table-user ml-2 p-1 cursor-pointer">
              <img
                class="inline-block"
                style="width: 25px"
                src="./assets/icons/ArrowRight.svg"
              />
            </span>
          </span>
        </div>
      </div>
    </div>
  </div>
</body>
