

<section class="text-gray-700 body-font">
  <div class="container mx-auto px-3 flex py-5">
    <button routerLink="/admin" class="inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg">Back</button>
  </div>
  <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col">
    <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
      <img class="object-cover object-center rounded" alt="hero" src="{{this.artwork.featuredImage.media}}">
    </div>
    <div class="lg:flex-grow md:w-1/2 lg:pl-24 md:pl-16 flex flex-col md:items-start md:text-right mb-16 md:mb-0 items-center text-center">
      <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900"> {{this.artwork.symbol}} </h1>
      <div class="flex justify-center pb-3">
        <h5 class="text-xl font-normal text-black-400">Symbol:</h5>
        <h5 class="text-xl italic text-black pl-2 font-light"> {{artwork.name}} </h5>
      </div>
      <div class="flex justify-center pb-3">
        <h5 class="text-xl font-normal text-black-400">TokenId:</h5>
        <h5 class="text-xl italic text-black pl-2 font-light"> {{artwork.tokenId}} </h5>
      </div>
      <div class="flex justify-center pb-3">
        <h5 class="text-xl font-normal text-black-400">Issuer:</h5>
        <h5 class="text-xl italic text-black pl-2 font-light"> {{artwork.creator.username}} </h5>
      </div>
      <div class="flex justify-center pb-3">
        <h5 class="text-xl font-normal text-black-400">Issued On:</h5>
        <h5 class="text-xl italic text-black pl-2 font-light">  {{artwork.dateIssued | date: 'dd-MM-YYYY'}} </h5>
      </div>
      <div class="flex justify-center pb-3">
        <h5 class="text-xl font-normal text-black-400">Blockchain minted on:</h5>
        <h5 class="text-xl italic text-black pl-2 font-light">  {{artwork.chain | uppercase}} </h5>
      </div>
      <div class="flex justify-center pb-3">
        <h5 class="text-xl font-normal text-black-400">Approved?</h5>
        <h5 class="text-xl italic text-black pl-2 font-light">  {{artwork.isApproved}} </h5>
      </div>
      <div class="flex justify-center pb-3">
        <h5 class="text-xl font-normal text-black-400">Asset Type:</h5>
        <h5 class="text-xl italic text-black pl-2 font-light">  {{artwork.assetType}} </h5>
      </div>
      <div class="flex justify-center pb-3">
        <h5 class="text-xl font-normal text-black-400">Category:</h5>
        <h5 class="text-xl italic text-black pl-2 font-light">  {{artwork.category}} </h5>
      </div>
      <div class="flex justify-center pb-3">
        <h5 class="text-xl font-normal text-black-400">Description:</h5>
        <!-- <h5 class="text-xl italic text-black pl-2 font-light"> {{artwork.tokenId}} </h5> -->
        <p class="mb-8 leading-relaxed text-left pl-3 italic text-black"> {{artwork.description}} </p>
      </div>
      <div class="flex justify-center">
        <button (click)="approveToken(artwork.tokenId)" class="inline-flex text-white bg-green-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg">Approve</button>
        <button (click)="rejectToken(artwork.tokenId)" class="ml-4 inline-flex text-white bg-red-400 border-0 py-2 px-6 focus:outline-none hover:bg-gray-300 rounded text-lg">Reject</button>
      </div>
    </div>
  </div>
</section>